_data/
.vscode/
.DS_Store
specmf/__pycache__/
tests/__pycache__/

data/*
!data/beam/
data/beam/*
!data/beam/.gitkeep

!data/cavity/
data/cavity/*
!data/cavity/.gitkeep

!data/darcy/
data/darcy/*
!data/darcy/.gitkeep

!data/solid_inclusion_qoi/
data/solid_inclusion_qoi/*
!data/solid_inclusion_qoi/.gitkeep
